{deps_dirs,["deps"]}.
{ct_use_short_names,true}.
{test_node_name,"test@localhost"}.
{deps,
 [
 {protobuffs, ".*", {git, "http://github.com/basho/erlang_protobuffs", "master"}},	
  {zab_engine, ".*", {git, "http://github.com/xinmingyao/zab_engine.git", {tag, "4log"}}},
  {erlcron, ".*", {git, "http://github.com/xinmingyao/erlcron.git", {tag, "master"}}},
  {merle, ".*", {git, "http://github.com/xinmingyao/merle.git", {tag, "master"}}},
  {eredis, ".*", {git, "http://github.com/wooga/eredis.git", {tag, "master"}}},		
  {tiger_core, ".*", {git, "http://github.com/xinmingyao/tiger_core.git", {tag, "master"}}},
  {eredis_engine, ".*", {git, "http://github.com/xinmingyao/eredis_engine.git", {tag, "master"}}},
  {ranch, "0\\.4\\.0.*", {git, "git://github.com/extend/ranch.git",
		"cd099983b1b807b87fa050d1e4ff0a13aba25b49"}},	
   {meck, ".*", {git, "http://github.com/eproxus/meck.git", "master"}},
   {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
 ]}.
{cover_enabled,true}.
{erl_opts, [{parse_transform, lager_transform}]}.
             %% Make sure to set -fPIC when compiling redis	
%{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

%{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
