{deps_dirs,["deps"]}.
{ct_use_short_names,true}.
{test_node_name,"test@localhost"}.
{deps,
 [
  {zab_engine, ".*", {git, "http://github.com/xinmingyao/zab_engine.git", {tag, "dev"}}},
  {erlcron, ".*", {git, "http://github.com/xinmingyao/erlcron.git", {tag, "master"}}},
  {merle, ".*", {git, "http://github.com/xinmingyao/merle.git", {tag, "master"}}},
  {tiger_core, ".*", {git, "http://github.com/xinmingyao/tiger_core.git", {tag, "master"}}},
  {eredis_engine, ".*", {git, "http://github.com/xinmingyao/eredis_engine.git", {tag, "master"}}},
  {cowboy, ".*", {git, "http://github.com/extend/cowboy.git", {tag, "master"}}},
   {meck, ".*", {git, "http://github.com/eproxus/meck.git", "master"}},
   {lager, ".*", {git, "git://github.com/basho/lager", {branch, "master"}}}
 ]}.
{cover_enabled,true}.
{erl_opts, [{parse_transform, lager_transform}]}.
             %% Make sure to set -fPIC when compiling redis	
%{pre_hooks, [{compile, "c_src/build_deps.sh"}]}.

%{post_hooks, [{clean, "c_src/build_deps.sh clean"}]}.
